@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  min-height: 100%;
}

body {
  background-color: aquamarine;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.navbar {
  background-color: rgb(164, 17, 17);
  color: aliceblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 20px;
  margin-bottom: 2%;
}

.logo img {
  width: 280px;
  height: 80px;
}

.navlist {
  list-style-type: none;
}

.navlist .list-item {
  display: inline-block;
  padding: 20px 2px;
}

a {
  text-decoration: none;
  color: rgb(246, 246, 246);
}

.news {
  margin: auto;
  width: 80%;
  height: 100%;
  font-weight: 400;
  border-radius: 10px;
  background-color: #BBEDF0;
  padding: 1%;
  margin-bottom: 1%;
}

.fontWeight {
  font-weight: 600;
}

#pokeEnfase {
  font-size: 20px;
}

.newGoItem {
  display: flex;
  width: 80%;
  height: 100%;
  margin: auto;
  border-radius: 15px 10px 10px 15px;
  background-color: aliceblue;
  margin-bottom: 1%;
  margin-top: 1%;

}

.newsIMG {
  height: 150px;
  width: 250px;
  border-radius: 10px 1px 1px 10px;
}

.spans {
  margin-top: 2%;
  margin-left: 2%;
  font-size: 25px;
  font-weight: 700;
}

.newsGo {
  width: 80%;
  margin-top: 1%;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin: auto;
}

#fontSizeSmall {
  font-size: 16px;
}

footer {
  width: 100%;
  flex-shrink: 0;
  background-color: #a41111;

}

.foot {
  justify-content: space-between;
  color: #fff;
  padding: 1%;
}

.foot p {
  margin-left: 60%;
}

.foot img {
  position: absolute;
  margin-left: 25%;
}

.wrapper {
  display: block;
  position: relative;
  margin-bottom: 100%;
}

@media screen and (max-width: 375px) {

  footer {
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #a41111;
  }

}
