body {
  font-family: "Open Sans", sans-serif;
  background-color: #439be5;
  font-size: 1rem;
}
.wrapper {
  max-width: 100%;
  display: grid;
  grid-template-columns: 110px 10fr;
  gap: 1rem;
  align-items: flex-start;
  height: 90vh;
}
.container-header {
  padding: 21px;
  border-right: 2px solid #cdcdcd;
  height: 83vh;
}

.menu {
  width: 100px;
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-logo {
  width: 63px;
  height: 59px;
}

.menu-group {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  height: 40vh;
  width: 107px;
  justify-content: space-evenly;
  position: absolute;
  left: 0;
  align-items: center;
}

.menu-group-item {
  margin-top: 21px;
  text-align: center;
  width: 108px;
  position: relative;
  left: 0;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-top: 30px;
  padding-bottom: 10px;
  text-decoration: none;
  color: #fff;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: background 0.2s;
}
.menu-group-item:hover {
  background: #fff;
  color: #000;
}

.menu-group-item:hover {
  color: #000;
}

.menu-group-item i {
  padding-bottom: 20px;
}

.font-white {
  color: #fff;
}

.icon-about {
  width: 36px;
  height: 32px;
}

.container-home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5px;
}

h2 {
  padding: 5px;
  text-align: center;
  font-size: 30px;
}

.banner {
  justify-content: center;
  width: 100vh;
}

.text-about {
  align-items: center;
  text-align: justify;
  padding: 25px;
  width: 165vh;
}

.footer {
  border-top: 2px solid #cdcdcd;
  padding: 20px 15px;
  display: flex;
  justify-content: center;
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

a {
  text-decoration: none;
  font-family: "Sura", serif;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
}

i.fa-brands.fa-github {
  font-size: 18px;
}

.image-lab {
  width: 18vh;
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }

  .container-home {
    grid-template-columns: 1fr;
  }

  .footer {
    grid-template-columns: 1fr;
  }
}
