/* HEADER */
body {
  font-family: "Open Sans", sans-serif;
  background-color: #357fc9;
  font-size: 1rem;
}
.wrapper {
  max-width: 100%;
  display: grid;
  grid-template-columns: 110px 10fr;
  gap: 1rem;
  align-items: flex-start;
  height: 90vh;
}
.container-header {
  padding: 21px;
  border-right: 2px solid #cdcdcd;
  height: 83vh;
}

.menu {
  width: 100px;
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-logo {
  width: 63px;
  height: 59px;
}

.menu-group {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  height: 40vh;
  width: 107px;
  justify-content: space-evenly;
  position: absolute;
  left: 0;
  align-items: center;
}

.menu-group-item {
  margin-top: 21px;
  text-align: center;
  width: 108px;
  position: relative;
  left: 0;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-top: 30px;
  padding-bottom: 10px;
  text-decoration: none;
  color: #fff;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: background 0.2s;
}
.menu-group-item:hover {
  background: #fff;
  color: #000;
}

.menu-group-item:hover {
  color: #000;
}

.menu-group-item i {
  padding-bottom: 20px;
}

.font-white {
  color: #fff;
}

/* MAIN */

.container-home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5px;
}

#container-form {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  height: 30px;
}

#find-input {
  width: 50%;
  margin: 15px;
}
.container-characters{
  height: 85vh;
  overflow-y:scroll;
}

.search-control {
  margin-left: 30px;
  width: 100%;
  height: 25px;
  background-color: #73adff8c;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4px;
  font-weight: 700;
}

input::placeholder {
  color: #fff;
}

.filter-select,
optgroup {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

label {
  width: 150px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}
select:-internal-list-box {
  overflow: 
  display: block;
}
#filter-gender, #filter-movie {
  width: 170px;
  color: #fff;
  font-weight: 700;
  background-color: #73adff8c;
  border-radius: 4px;
  text-align: center;
}

optgroup {
  text-align: center;
  color: #1d91de;
}

option {
  text-align: center;
  color: #000;
  font-weight: 700;
}

.submit {
  width: 100px;
  color: #1d91de;
  font-weight: 700;
  background-color: #ffffff;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  margin-left: 20px;
}

#cards-characters {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

/* FLIP */
.flip-card {
  background-color: transparent;
  width: 235px;
  height: 235px;
  perspective: 1000px;
  padding: 10px;
  border: none;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: rgba(246, 243, 243, 0.542);
  color: black;
  border-radius: 15%;
}

.flip-card-back {
  background-color: rgba(246, 243, 243, 0.542);
  color: white;
  transform: rotateY(180deg);
  border-radius: 15%;
}

.box-image {
  width: 85%;
  height: 85%;
  border: 4px double #fff;
  border-radius: 50%;
  margin: 0 auto;
}

.image {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: #b0c4de;
}

h1 {
  font-weight: 700;
  color: #fff;
  margin: 8px;
  text-shadow: 0px 1px 0px #3c3939, 1px 1px 0px #3c3939, 1px 0px 0px #3c3939,
    0px -2px 0px #d3d3d3;
}

h3 {
  margin: 3px;
  font-size: 16px;
  font-weight: 700;
  color: #000;
  font-family: "Sura", sans-serif;
}

h4 {
  margin: 3px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  font-family: "Sura", sans-serif;
}

ul {
  margin: 10px;
  font-size: 14px;
  list-style: none;
  color: #000;
  font-family: "Sura", sans-serif;
}

.img-back {
  width: 50%;
  height: 50%;
  border-radius: 35px;
}

/* FOOTER */
.footer {
  border-top: 2px solid #cdcdcd;
  padding: 20px 15px;
  display: flex;
  justify-content: center;
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

a {
  text-decoration: none;
  font-family: "Sura", serif;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
}

i.fa-brands.fa-github {
  font-size: 18px;
}

.image-lab {
  width: 18vh;
}
@media(max-width:1920px){
  .container-characters{
    height: 80vh;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }

  .container-home {
    grid-template-columns: 1fr;
  }

  .footer {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 565px) {
  .wrapper {
    display: flex;
    width: 100%;
    height: auto;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    flex-direction: column;
  }
  .container-header {
    padding: 0px;
    border-right: none;
    height: 100%;
  }
  .menu {
    flex-direction: row;
    width: 100%;
    position: absolute;
    justify-content: flex-start;
    margin-top: 25px;
  }
  .image-logo {
    position: relative;
  }
  .menu-group {
    margin-top: 0rem;
    display: flex;
    flex-direction: row;
    height: 15vh;
    width: 100%;
    justify-content: end;
  }
  .menu-group-item {
    width: 90px;
  }
  .container-home {
    margin-top: 20%;
  }

  .container-characters{
    height: 80vh;
    width: 90%;
  }
  #container-form{
    width: 300px;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 35px;
  }
  .group-select{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 30px;
  }

  .footer {
    grid-template-columns: 1fr;
    flex-direction: column;
    width: 100%;
    display: flex;
    padding: 0px;
  }
  .footer p {
    font-size: 1rem;
    padding: 20px;
    text-align: center;
  }
}
@media (max-width: 425px) {
  .container-home {
    margin-top: 25%;
  }
  h2 {
    font-size: 1.5rem;
  }
  .banner {
    width: 40vh;
  }
  .image-lab {
    width: 145px;
  }
}

@media (max-width: 375px) {
  .menu {
    width: 100%;
    justify-content: center;
  }
  .menu-group {
    margin-top: 9rem;
    justify-content: flex-start;
  }
  h2 {
    font-size: 1.5rem;
    margin-top: 20px;
  }
  .container-home {
    margin-top: 40%;
  }
  .container-home p {
    line-height: 1rem;
  }
}

@media (max-width: 320px) {
  .container-home {
    margin-top: 50%;
  }

  .image-lab {
    width: 130px;
  }
}

