* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

:root {
  --background: #1D1C38;
  --background-items: #e26c7a;
  --background-items-hover: #f1faee;
  --color-cards: #8193A8;
  --color-font: #f1faee;
  --color-modal: #2864A8;
}

body {
  background-color: #1D1C38;
  background-image: url(img/kiks\ 1.svg);
  background-repeat: no-repeat;
  background-size: 40vw;
  background-position: 5vw 10vw;
  display: fixed;
}

.top {
  width: 100%;
}

.top-img {
  width: 100%;
  margin-top: 2vw;
  margin-left: -10px;
}

.top h1 {
  margin: -10vw 0 0;
  color: var(--color-font);
  font-size: 8vh;
}

.navbar {
  overflow: hidden;
  max-width: 100%;
  padding: 6vw 0 0 60vw;
  font-size: medium;
}

.navbar a {
  display: block;
  float: left;
  padding: 1vw;
  color: var(--color-font);
  font-size: 1.1rem;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar a.active {
  color: var(--background-items);
  text-shadow: 3px 3px 3px black;
}

.container {
  margin: 1vw 13vw;
}

.description {
  margin:0;
  padding: 1vw 0 1.5vw 30vw;
  color: var(--color-font);
  font-size: 1.7rem;
  font-weight: 350;
  text-align: right;
  text-indent: 10vw;
}

.btn-catalogue {
  margin: 1vw 2vw 2vw 0;
  text-align: right;
}

.btn-catalogue-filter {
  background-color: var(--background-items);
  margin: 1vw;
  border: none;
  padding: 0.5vw 1vw;
  border-radius: 0.3vw;
  cursor: pointer;
  color: var(--color-font);
  font-size: 1.2rem;
  font-weight: 600;
}

.btn-catalogue-filter:hover {
  background-color: var(--background-items-hover);
  color: var(--background-items);
}

.catalogue {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  column-gap: 1vw;
  row-gap: 1vw;
  justify-content: center;
  margin: 3vw 0 2vw;
}

.card {
  background-color: var(--color-cards);
  padding: 1vw;
  border-radius: 0.3vw;
}

.btn-modal {
  background: none;
  border: none;
  width: 12vw;
  height: 18vw;
  cursor: pointer;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-txt {
  padding: 1vw 0;
  font-size: 1.2rem;
}

.btn-modal:hover {
  opacity: 0.4;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  display: none;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.modal-content {
  background-color: var(--color-modal);
  margin: 7% 20%;
  padding: 2vw 4vw 2.5vw;
  min-width: 60%;
  min-height: 45%;
  color: var(--color-font);
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
}

.modal-director {
  margin: 1vw;
}

.modal-score-duration {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: -1vw -5vw 1vw;
}

.close {
  background-color: var(--color-modal);
  margin-top: 3vw;
  border: 1px solid var(--color-font);
  padding: 0.5vw 2vw;
  border-radius: 0.5vw;
  cursor: pointer;
  color: var(--color-font);
  font-size: 1.2rem;
  font-weight: 600;
}

.close:hover {
  background-color:var(--color-font);
  color: var(--color-modal);
}

.back-top {
  margin: 5%;
}

.back-top a {
  text-decoration: none;
  color: var(--color-font);
  font-size: 1.3rem;
}

.back-top a:hover {
  text-shadow: 4px 4px 4px var(--background-items);
}

footer {
  background-color: var(--background-items);
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  column-gap: 5vw;
  align-items: center;
  max-width: 100%;
  bottom: 0;
  color: var(--color-font);
  font-size: 1rem;
}

.img-logo-ghibli,
.img-totoro {
  width: 180px;
}

.links {
  text-decoration: none;
  color: var(--color-font);
}

.links:hover {
  text-shadow: 3px 3px 3px black;
}

@media only screen and (max-width: 800px) {
  .top h1 {
    margin: -10vw 0 0;
    font-size: 3.5vh;
  }
  .navbar {
    padding: 6vw 0 2vw 50vw;
  }
  .navbar a {
    font-size: 0.8rem;
  }

  .description {
    font-size: 1rem;
    padding: 0 0 1vw 25vw;
  }

  .container {
    min-height: 130vw;
  }

  .btn-catalogue-filter {
    font-size: 0.8rem;
  }

  .catalogue {
    grid-template-columns: repeat(4, 1fr);
  }

  .btn-modal {
    width: 15vw;
    height: 22vw;
  }

  .card-txt {
    font-size: 1rem;
  }

  .modal-content {
    margin: 35% 20%;
    padding: 2vw 4vw 2.5vw;
    min-height: 25%;
    font-size: 0.85rem;
  }

  .modal-director {
    margin: 1vw;
  }

  .modal-score-duration {
    margin: 1vw -5vw;
  }

  .close {
    font-size: 0.8rem;
  }

  .back-top {
    font-size: 0.8rem;
  }

  .footer {
    font-size: 0.7rem;
  }

  .logo-ghibli,
  .totoro {
    width: 100px;
  }
}

@media screen and (max-width: 420px) {
  body {
    background-position: -1vw 10vw;
  }
  .top h1 {
    margin: -12vw 0 0;
    font-size: 2.5vh;
  }

  .navbar {
    padding: 7vw 0 2vw 42vw;
  }

  .navbar a {
    font-size: 0.6rem;
  }

  .description {
    font-size: 0.65rem;
    margin: 1vw -5vw 2vw 0;
    padding: 0 0 0 18vw;
  }

  .container {
    min-height: 130vw;
  }

  .btn-catalogue-filter {
    font-size: 0.4rem;
  }

  .catalogue {
    grid-template-columns: repeat(3, 1fr);
    margin: 2.2vw -2vw;
  }

  .btn-modal {
    width: 25vw;
    height: 37vw;
  }

  .card-txt {
    font-size: 0.8rem;
  }

  .modal-content {
    margin: 30% 10%;
    padding: 2vw 4vw 4vw;
    min-height: 15%;
    font-size: 0.6rem;
   }

  .modal-director {
    margin: 1vw 0;
  }

  .modal-score-duration {
    margin: 2vw -3vw 3vw;
  }

  .close {
    font-size: 0.6rem;
  }

  .back-top a {
    font-size: 0.7rem;
  }

  footer {
    font-size: 0.6rem;
  }

  .img-logo-ghibli, .img-totoro {
    width: 80px;
  }

}