* {
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
.body-films {
    background-color: #1D1C38;
}
.container {
    margin: 1vw 13vw;
    min-height: 125vw;
}
.navbar {
    margin: 7vw 0 0 15vw;
    font-size: medium;
    text-align: left;
    overflow: hidden;
    padding: 0 10px;
    max-width: 100%;
}
.navbar a {
    color: #f1faee;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    float: left;
    display: block;
}
.navbar a:hover {
    text-decoration: underline;
} 
.navbar a.active {
    color:  #e26c7a;
    text-shadow:3px 3px 3px black;
}
.top-films {
    color: #f1faee;
    text-align: center;
    width: 100%;
}
.img-top-films{
    width: 100vw;
    margin-top: 2vw;
    margin-left: -10px;
}
.title-films{
    font-size: 4.5vw;
    margin: -42vw 0 0;
}
.films-description {
    margin: 3vw 1vw 1vw;
    width: 65%;
    font-size: 1.8rem;
    color: #f1faee;
    font-weight: 400;
    padding: 2vw;
    text-align: left;
    text-indent: 10vw;
}
.btn-catalogue {
    width: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 3vw 3vw 3.3vw;
    margin: 0;
}
.btn-catalogue-filter{
    margin: auto;
    border:none;
    min-height: 100%;
    width: 65%;
    padding: 0.5vw 1vw;
    background-color: #e26c7a;
    color: #f1faee;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 0.5vw;  
}
.btn-catalogue-filter:hover {
    background-color: #f1faee;
    color: #e26c7a;
}
.catalogue {
    margin: 3vw 0 2vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 1vw;
    row-gap: 1vw;
    grid-template-rows: auto;
}
.card {
    background-color: #8193A8;
    padding: 1vw;
    text-align: center;
    font-size: 1.2rem;
    border-radius: 0.3vw;
}
.card-img {
    width: 100%;
    /* max-height: 85%; */
    margin-bottom: 0.4vw;
}
.btn-modal {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}
.btn-modal:hover {
    opacity: 0.4;
}
.modal {
    display: none; 
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.modal-content {
    min-width: 60%;
    min-height: 45%;
    margin: 7% 20%;
    background-color: #2864A8;
    color: #f1faee;
    padding: 2vw 4vw 2.5vw;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 400;
}
.modal-director {
    margin: 1vw;
}
.modal-score-duration {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: -1vw -5vw 1vw;
}
.close {
    color:#f1faee;
    font-weight: 600;
    cursor: pointer;
    background-color:rgb(40, 100, 168);
    padding: 0.5vw 2vw;
    border-radius: 0.5vw;
    font-size: 1.2rem;
    margin-top: 3vw;
    border: 1px solid #f1faee;
}
.close:hover {
    background-color: #f1faee;
    color: rgb(40, 100, 168);
}
.back {
    margin: 5%;
    text-align: center;
}
.back-top {
    color: #f1faee;
    font-size: 1.3rem;
    text-decoration: none;
}
.back-top:hover {
    text-shadow:4px 4px 4px #e26c7a;
}
.footer {
    max-width: 100%;
    color:  #f1faee;
    font-size: 1rem;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto;
    column-gap: 5vw;
    align-items: center;
    background-color: #e26c7a;
}
.logo-ghibli {
    width: 180px;
}
.totoro {
    width: 10rem;
}
.links {
    color:  #f1faee;
    text-decoration: none;
}
.links:hover {
    text-shadow:3px 3px 3px black;
}
@media only screen and (max-width: 900p) {
    .films-description {
        margin: 0;
        width: 65%;
        font-size: 1rem;
        color: #f1faee;
        padding: 1.5vw 2vw 2vw;
    }
    .navbar a {
        font-size: 12px;
        padding: 12px 10px;
    }
    .btn-catalogue {
        padding: 1vw;
    }
    .btn-catalogue-filter{
        padding: 0.6vw 1vw;
        font-size: 0.75rem;
    }
    .catalogue {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        column-gap: 1.5vw;
        row-gap: 1.5vw;
    }
    .card {
        text-align: center;
        font-size: 0.5rem;
    }
    .card-img {
        margin-bottom: 1vw;
    }
    .modal-content {
        padding: 2vw 4vw 2.5vw;
        font-size: 0.85rem;
    }
    .modal-director {
        margin: 1vw;
    }
    .modal-score-duration {
        margin: 1vw -5vw;
    }
    .close {
        font-size: 0.8rem;
    }
    .back-top {
        font-size: 0.8rem;
    }
    .footer {
        font-size: 0.7rem;
    }
    .logo-ghibli {
        width: 120px;
    }
    .totoro {
        width: 7rem;
      }
}

@media screen and (max-width: 420px){
    .navbar {
        margin: 7vw 0 0 10vw;
    }
    .navbar a {
        font-size: 7.5px;
        padding: 5px 3px;
    }
    .films-description {
        font-size: 0.5rem;
        padding: 0 2vw 1.3vw -1vw;
        margin: 1vw 1vw 0.5vw 0;
    }
    .btn-catalogue-filter {
        font-size: 0.4rem;
        width: 77%;
        margin-right: 5vw;
        padding: 0.3vw 1vw;
    }
    .catalogue {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1.5vw;
        row-gap: 1.5vw;
        margin: 2.2vw -2vw;
    }
    .card {
        font-size: 0.5rem;
    }
    .card-img {
        margin-bottom: 1vw;
    }
    .modal-content {
        min-width: 80%;
        min-height: 35%;
        margin: 30% 10%;
        font-size: 0.6rem;
        padding: 2vw 4vw 4vw;
    }
    .modal-director {
        margin: 1vw 0;
    }
    .modal-score-duration {
        margin: 2vw -3vw 3vw;
    }
    .close {
        font-size: 0.6rem;
    }
    .back-top {
        font-size: 0.65rem;
    }
    .footer {
        font-size: 0.47rem;
    }
    .logo-ghibli {
        width: 60px;
    }
    .totoro {
        width: 5rem;
    }
} 