/* HEADER */
body {
  font-family: "Open Sans", sans-serif;
  background-color: #357fc9;
  font-size: 1rem;
}
.wrapper {
  max-width: 100%;
  display: grid;
  grid-template-columns: 110px 10fr;
  gap: 1rem;
  align-items: flex-start;
  height: 90vh;
}
.container-header {
  padding: 21px;
  border-right: 2px solid #cdcdcd;
  height: 85vh;
}

.menu {
  width: 100px;
  position: absolute;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-logo {
  width: 63px;
  height: 59px;
}

.menu-group {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 107px;
  justify-content: space-evenly;
  position: absolute;
  left: 0;
  align-items: center;
}

.menu-group-item {
  margin-top: 21px;
  text-align: center;
  width: 108px;
  position: relative;
  left: 0;
  height: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-top: 30px;
  padding-bottom: 10px;
  text-decoration: none;
  color: #fff;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: background 0.2s;
}
.menu-group-item:hover {
  background: #fff;
  color: #000;
}

.menu-group-item:hover {
  color: #000;
}

.menu-group-item i {
  padding-bottom: 20px;
}

.font-white {
  color: #fff;
}

/* MAIN */

main {
  width: 100%;
  height: 100%;
}

.container-home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5px;
}

.title {
  font-family: "Sura", serif;
  font-weight: 700;
  color: #fff;
  font-size: 35px;
  line-height: 1.8rem;
  align-items: center;
  display: contents;
}
.title > img {
  width: 160px;
}
.background-home {
  width: 35%;
}

.container-home p {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
  text-align: center;

  width: 40%;
  text-align: justify;
}

img {
  width: 10%;
  padding: 15px;
}

/* FOOTER */
.footer {
  border-top: 2px solid #cdcdcd;
  padding: 20px 15px;
  display: flex;
  justify-content: center;
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 500;
}

a {
  text-decoration: none;
  font-family: "Sura", serif;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
}

i.fa-brands.fa-github {
  font-size: 18px;
}

.image-lab {
  width: 180px;
  vertical-align: middle;
}

@media screen and (min-width: 2000px) {
  .wrapper {
    max-width: 100%;
    display: grid;
    gap: inherit;
    grid-template-columns: 150px 1fr;
    align-items: center;
    height: 90vh;
  }
  .background-home {
    width: 30%;
  }
  .container-header {
    border-right: 2px solid #cdcdcd;
    height: 86vh;
    margin-top: -2px;
  }

  .menu {
    width: 105px;
    position: relative;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image-logo {
    width: 70px;
    height: 65px;
  }

  .menu-group {
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    height: 62vh;
    width: 109px;
    justify-content: space-around;
    position: absolute;
    left: -2px;
  }

  .menu-group-item {
    text-align: center;
    width: 148px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 15px;
    text-decoration: none;
    color: #fff;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    transition: background 0.2s;
    left: 0px;
  }

  .container-home {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .title > img {
    width: 200px;
  }

  .text-about {
    align-items: center;
    text-align: justify;
    padding: 25px;
    width: 80%;
  }

  .footer {
    border-top: 2px solid #cdcdcd;
    padding: 20px 15px;
    display: flex;
    justify-content: center;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
  }
}

@media screen and (max-width: 1920px) {
  .wrapper {
    max-width: 100%;
    display: grid;
    gap: inherit;
    grid-template-columns: 150px 1fr;
    align-items: center;
    height: 89vh;
  }

  .container-header {
    border-right: 2px solid #cdcdcd;
    height: 95%;
  }
  .container-home p {
    width: 60%;
  }

  .background-home {
    width: 40%;
  }
  .menu {
    width: 105px;
    position: relative;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image-logo {
    width: 70px;
    height: 65px;
  }

  .menu-group {
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    height: 62vh;
    width: 109px;
    justify-content: space-around;
    position: absolute;
    left: -2px;
  }

  .menu-group-item {
    text-align: center;
    width: 148px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 15px;
    text-decoration: none;
    color: #fff;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    transition: background 0.2s;
    left: 0px;
  }

  .container-home {
    width: 100%;
    height: 98%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .image-lab {
    width: 160px;
  }
  .footer {
    border-top: 2px solid #cdcdcd;
    padding: 20px 15px;
    display: flex;
    justify-content: center;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
  }
}

@media screen and (max-width: 1440px) {
  .wrapper {
    width: 100%;
    display: grid;
    gap: inherit;
    grid-template-columns: 150px 1fr;
    align-items: center;
    height: 90vh;
  }

  .container-header {
    border-right: 2px solid #cdcdcd;
    height: 95%;
  }

  .menu {
    width: 105px;
    position: relative;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image-logo {
    width: 70px;
    height: 65px;
  }

  .menu-group {
    margin-top: 110px;
    display: flex;
    flex-direction: column;
    height: 62vh;
    width: 109px;
    justify-content: space-around;
    position: absolute;
    left: -2px;
  }

  .menu-group-item {
    text-align: center;
    width: 148px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 15px;
    text-decoration: none;
    color: #fff;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    transition: background 0.2s;
    left: 0px;
  }

  .container-home {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .text-about {
    align-items: center;
    text-align: justify;
    padding: 25px;
    width: 80%;
  }

  .footer {
    width: 98vw;
    border-top: 2px solid #cdcdcd;
    padding: 15px 5px;
    display: flex;
    align-items: center;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
  }
}

@media screen and (max-width: 1366px) {
  .wrapper {
    max-width: 100%;
    display: grid;
    gap: inherit;
    grid-template-columns: 110px 1fr;
    align-items: center;
    height: 86vh;
  }

  .container-header {
    padding: 30px;
    border-right: 2px solid #cdcdcd;
    height: 37rem;
  }

  .menu {
    width: 100px;
    position: fixed;
    left: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image-logo {
    width: 65px;
    height: 60px;
  }

  .menu-group {
    margin-top: 105px;
    display: flex;
    flex-direction: column;
    height: 55vh;
    width: 108px;
    justify-content: space-around;
    position: absolute;
    left: 0px;
  }

  .menu-group-item {
    text-align: center;
    width: 108px;
    position: relative;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 15px;
    text-decoration: none;
    color: #fff;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    transition: background 0.2s;
  }

  .container-home {
    width: 100%;
    height: 98%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .background-home {
    width: 50%;
  }

  .footer {
    border-top: 2px solid #cdcdcd;
    padding: 20px 13px;
    display: flex;
    justify-content: center;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    max-width: 100%;
    display: grid;
    gap: inherit;
    grid-template-columns: 110px 1fr;
    align-items: center;
    height: 86vh;
  }

  .container-header {
    padding: 30px;
    border-right: 2px solid #cdcdcd;
    height: 93%;
  }

  .container-home {
    width: 100%;
    height: 99%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .footer {
    border-top: 2px solid #cdcdcd;
    padding: 25px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-family: "Open Sans", sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 87.5%;
  }

  .container-home {
    grid-template-columns: 1fr;
  }

  .footer {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 575px) {
  .wrapper {
    display: flex;
    width: 100%;
    height: auto;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    flex-direction: column;
  }
  .container-header {
    padding: 0px;
    border-right: none;
    height: 100%;
  }
  .menu {
    flex-direction: row;
    width: 100%;
    position: absolute;
    justify-content: flex-start;
    margin-top: 25px;
  }
  .image-logo {
    position: relative;
  }
  .menu-group {
    margin-top: 0rem;
    display: flex;
    flex-direction: row;
    height: 15vh;
    width: 100%;
    justify-content: end;
  }
  .menu-group-item {
    width: 90px;
  }
  .container-home {
    margin-top: 20%;
  }
  .title {
    font-size: 1.5rem;
  }
  .title > img {
    width: 30%;
  }
  .background-home {
    width: 80%;
  }
  .container-home p {
    width: 80%;
  }
  .image-lab {
    width: 145px;
  }
  .footer {
    grid-template-columns: 1fr;
    flex-direction: column;
    width: 100%;
    display: flex;
    padding: 0px;
  }
  .footer p {
    font-size: 1rem;
    padding: 20px;
    text-align: center;
  }
}

@media (max-width: 375px) {
  .menu {
    width: 100%;
    justify-content: center;
  }
  .menu-group {
    margin-top: 9rem;
    justify-content: flex-start;
  }
  .container-home {
    margin-top: 40%;
  }
  .container-home p {
    line-height: 2rem;
  }
}

@media (max-width: 320px) {
  .container-home {
    margin-top: 50%;
  }

  .image-lab {
    width: 130px;
  }
}
