* {
  font-family: 'Lato', sans-serif;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
.body-people {
  background-color: #1D1C38;
}
.container {
  margin: 1vw 13vw;
  min-height: 125vw;
}
.top-people {
  color: #f1faee;
  text-align: center;
  width: 100%;
}
.img-top{
  width: 100vw;
  margin-left: -10px;
}
.title-people{
  font-size: 4.5vw;
  margin: -10vw 0 0;
}
.navbar {
  margin: 6vw 35vw 4vw 25vw;
  font-size: medium;
  text-align: center;
  overflow: hidden;
  max-width: 100%;
}
.navbar a {
  color: #f1faee;
  font-size: 19px;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
  float: right;
  display: block;
}
.navbar a:hover {
  text-decoration: underline;
} 
.navbar a.active {
  color:  #e26c7a;
  text-shadow:3px 3px 3px black;
}
.description-people {
  padding: 0;
  text-align: center;
  font-size: 2rem;
  color: #f1faee;
}
.film-people {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  column-gap: 1vw;
  row-gap: 1vw;
  width: 100%;
  justify-content: center;
  align-content: center;
  margin: 4vw 0;
}
.btn-film-people {
  margin: auto;
  border:none;
  min-height: 100%;
  width: 100%;
  padding: 0.7vw 1.5vw;
  background-color: #508b52c7;
  color: #f1faee;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 400;
  cursor: pointer;
  border-radius: 0.3vw;
}
.btn-film-people:hover {
  background-color: #f1faee;
  color: #508b52;
}
.catalogue-people {
  margin: 0 5vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1vw;
  row-gap: 1vw;
  justify-content: center;
}
.card-people {
  background-color: rgba(156, 171, 151, 0.876);
  border-radius: 0.3vw;
  text-align: center;
  padding: 1vw;
  min-height: 100%;
}
.div-img-people{
  width: 15vw; 
  height: 15vw;
}
.card-people-img {
  width: 100%; 
  height: 100%;
  object-fit: none;
  object-position: 45% 5%;
  padding: 0;
}
.person-details{
  font-size: 1.2rem;
  padding-top: 1vw;
}
.back {
  margin: 5%;
  text-align: center;
}
.back-top {
  color: #f1faee;
  font-size: 1.3rem;
  text-decoration: none;
}
.back-top:hover {
  text-shadow:4px 4px 4px #e26c7a;
}
.footer {
  max-width: 100%;
  color:  #f1faee;
  font-size: 1rem;
  bottom: 0;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: auto;
  column-gap: 5vw;
  align-items: center;
  background-color: #e26c7a;
}
.logo-ghibli {
  width: 180px;
}
.totoro {
  width: 10rem;
}
.links {
  color:  #f1faee;
  text-decoration: none;
}
.links:hover {
  text-shadow:3px 3px 3px black;
}
@media only screen and (max-width: 900px){
  .navbar {
    margin: 6vw 25vw 0 20vw;
  }
  .navbar a {
    font-size: 14px;
  }
  .description-people {
    font-size: 1.2rem;
  }
  .film-people {
    grid-template-columns: repeat(4, 1fr);
  }
  .btn-film-people {
    padding: 0.7vw 3vw;
    font-size: 0.9rem;
  }
  .catalogue-people {
    grid-template-columns: repeat(3, 1fr);
  }
  .div-img-people{
    width: 22vw; 
    height: 25vw;
  }
  .person-details{
    font-size: 1rem;
  }
  .back-top {
    font-size: 0.8rem;
  }
  .footer {
    font-size: 0.7rem;
  }
  .logo-ghibli {
    width: 120px;
  }
  .totoro {
    width: 7rem;
  }
}

@media only screen and (max-width: 420px){
  .navbar {
    margin: 6vw 20vw;
  }
  .navbar a {
    font-size: 10px;
    padding: 5px 3px;
  }
  .description-people {
    font-size: 0.8rem;
  }
  .film-people {
    grid-template-columns: repeat(3, 1fr);
  }
  .btn-film-people {
    padding: 1vw 1.5vw;
    font-size: 0.6rem;
  }
  .catalogue-people {
    margin: 10vw 5vw;
    grid-template-columns: repeat(2, 1fr);
  }
  .div-img-people{
    width: 35vw; 
    height: 55vw;
  }
  .person-details{
    font-size: 0.8rem;
  }
  .back-top {
    font-size: 0.65rem;
  }
  .footer {
    font-size: 0.47rem;
  }
  .logo-ghibli {
    width: 60px;
  }
  .totoro {
    width: 5rem;
  }
}