* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  font-family: 'Lato', sans-serif;
  text-align: center;
}

:root {
  --background: #1D1C38;
  --background-items: #e26c7a;
  --background-people: #508b52c7;
  --background-items-hover: #f1faee;
  --color-cards: rgba(156, 171, 151, 0.876);
  --color-font: #f1faee;
}

body {
  background-color: var(--background);
}

.top {
  width: 100%;
}

.top-img {
  width: 100%;
  margin-left: -10px;
}

.top h1 {
  margin: -9vw 0 0;
  color: var(--color-font);
  font-size: 7vh;
}

.navbar {
  overflow: hidden;
  max-width: 100%;
  padding: 6vw 0 2vw 60vw;
  font-size: medium;
}

.navbar a {
  display: block;
  float: left;
  padding: 1vw;
  color: var(--color-font);
  font-size: 1.1rem;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar a.active {
  color: var(--background-items);
  text-shadow: 3px 3px 3px black;
}

.container {
  margin: 1vw 13vw;
}

.description {
  padding: 0;
  color: var(--color-font);
  font-size: 2rem;
}

.btn-films {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  column-gap: 1vw;
  row-gap: 1vw;
  justify-content: center;
  align-content: center;
  margin: 4vw 0;
}

.btn-film {
  background-color: var(--background-people);
  margin: auto;
  border: none;
  padding: 0.7vw 1.5vw;
  min-height: 100%;
  width: 100%;
  cursor: pointer;
  border-radius: 0.3vw;
  color: var(--color-font);
  font-size: 1.1rem;
  font-weight: 400;
}

.btn-film:hover {
  background-color: var(--background-items-hover);
  color: var(--background-people);
}

.catalogue {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 1vw;
  row-gap: 1vw;
  justify-content: center;
  margin: 0 5vw;
}

.card {
  background-color: var(--color-cards);
  padding: 1vw;
  border-radius: 0.3vw;
}

.card-img-cut {
  width: 15vw;
  height: 13vw;
}

.card-img {
  width: 100%;
  height: 100%;
  object-fit: none;
  object-position: 45% 5%;
}

.card-txt {
  padding-top: 1vw;
  font-size: 1.2rem;
}

.back-top {
  margin: 5%;
}

.back-top a {
  text-decoration: none;
  color: var(--color-font);
  font-size: 1.3rem;
}

.back-top a:hover {
  text-shadow: 4px 4px 4px var(--background-items);
}

footer {
  background-color: var(--background-items);
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  column-gap: 5vw;
  align-items: center;
  max-width: 100%;
  bottom: 0;
  color: var(--color-font);
  font-size: 1rem;
}

.img-logo-ghibli,
.img-totoro {
  width: 180px;
}

.links {
  text-decoration: none;
  color: var(--color-font);
}

.links:hover {
  text-shadow: 3px 3px 3px black;
}

@media only screen and (max-width: 800px) {
  .top h1 {
    margin: -10vw 0 0;
    font-size: 3.5vh;
  }

  .navbar {
    padding: 6vw 0 2vw 35vw;
  }

  .navbar a {
    font-size: 0.8rem;
  }

  .description {
    font-size: 1.4rem;
  }

  .container {
    min-height: 130vw;
  }

  .btn-films {
    grid-template-columns: repeat(4, 1fr);
  }

  .btn-film {
    padding: 0.7vw 3vw;
    font-size: 0.9rem;
  }

  .catalogue {
    grid-template-columns: repeat(3, 1fr);
  }

  .card-img-cut {
    width: 22vw;
    height: 22vw;
  }

  .card-txt {
    font-size: 1rem;
  }

  .back-top {
    font-size: 0.8rem;
  }

  footer {
    font-size: 0.7rem;
  }

  .logo-ghibli,
  .totoro {
    width: 100px;
  }
}

@media only screen and (max-width: 420px) {
  .top h1 {
    margin: -11vw 0 0;
    font-size: 2.5vh;
  }
  
  .navbar {
    padding: 6vw 0 2vw 30vw;
  }

  .navbar a {
    font-size: 0.6rem;
  }

  .description {
    padding: 2vw;
    font-size: 1rem;
  }

  .btn-films{
    grid-template-columns: repeat(2, 1fr);
  }

  .btn-film {
    min-height: 14vw;
    font-size: 0.8rem;
  }

  .catalogue {
    grid-template-columns: repeat(2, 1fr);
    margin: 10vw 5vw;
  }

  .card-img-cut {
    width: 35vw;
    height: 55vw;
  }

  .card-txt {
    font-size: 0.8rem;
  }

  .back-top a {
    font-size: 0.7rem;
  }

  footer {
    font-size: 0.6rem;
  }

  .img-logo-ghibli, .img-totoro {
    width: 80px;
  }
}