body {
  background-color: #f1bda6;
  text-align: center;
  font-family: open sans, sans-serif;
  margin: 0px 0px 30px 0px;
}

@media (min-width: 0px), (max-width: 480px) {
 
  @font-face {
    font-family: fontePersonagens;
    src: url(./Fontes/MISFITS_.TTF);
  }
  .logo{
    max-width: 100%;
    margin-top: -12%;
    margin-bottom: 15%;
  }
  
  .rostoRick {
    width: 35%;
    margin-top: -100px;
  }
  
  #boxText {
    background: #d9d9d9;
    margin: 0 auto;
    max-width: 70%;
    margin-top: -6%;
    border-radius: 10px;
    border: 6px groove #87cc22;
  }
  
  .rickAndMortyOlhos {
    width: 70%;
  }
  
  #personagens {
    padding: 1px 2px;
    border: 6px outset #87cc22;
    border-radius: 10px;
    margin-top: 80px;
    background: #d9d9d9;
    color: #89d72c;
    font-size: 350%;
    -webkit-text-stroke: 2.5px black;
    text-decoration: none;
    font-family: 'fontePersonagens';
  }
  
}

@media (min-width: 769px) and (max-width: 1279px) {
  #personagens {
    padding: 1px 2px;
    border: 6px outset #87cc22;
    border-radius: 10px;
    margin-top: 80px;
    background: #d9d9d9;
    color: #89d72c;
    font-size: 450%;
    -webkit-text-stroke: 3px black;
    text-decoration: none;
    font-family: 'fontePersonagens';
    margin-right: 3%;
  }

  #boxText {
    background: #d9d9d9;
    margin: 0 auto;
    max-width: 50%;
    margin-top: -6%;
    border-radius: 10px;
    border: 6px groove #87cc22;
    font-size: 130%;
  }

  .rostoRick {
    width: 35%;
    margin-top: -190px;
  }

  .rickAndMortyOlhos {
    width: 60%;
  }
}

@media (min-width: 1280px) {
  #personagens {
    padding: 1px 2px;
    border: 6px outset #87cc22;
    border-radius: 10px;
    margin-top: 80px;
    background: #d9d9d9;
    color: #89d72c;
    font-size: 700%;
    -webkit-text-stroke: 4px black;
    text-decoration: none;
    font-family: 'fontePersonagens';
    margin-right: 3%;
  }

  #boxText {
    background: #d9d9d9;
    margin: 0 auto;
    max-width: 50%;
    margin-top: -6%;
    border-radius: 10px;
    border: 10px groove #87cc22;
    font-size: 180%;
  }

  .rostoRick {
    width: 35%;
    margin-top: -190px;
  }

  .rickAndMortyOlhos {
    width: 55%;
  }
}