@charset "UTF-8";

@media screen and (min-width :768px){
    i#menu{
        display: none;
    }

    menu{
        display: block;
    }

    menu > ul > li {
        display: inline-block;
        width: 420px;
    }
    
    main {
        width: 768px;
    }
}
