@font-face {
    font-family: 'K2D';
    src: url('k2d-v9-latin-regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Atma';
    src: url('Atma-Bold.tff');
    src: url('Atma-Light.tff');
    src: url('Atma-Medium.tff');
    src: url('Atma-Regular.tff');
    src: url('Atma-SemiBold.tff');
}

body {
    background-image: url('https://github.com/blericalopes/SAP008-data-lovers/blob/main/src_data_lovers/bg_img_galaxy.jpg?raw=true');
    background-size: contain;
}

#title {
    max-width: 578px;
    max-height: 245px;
}

header {
    text-align: center;
    font-family: 'K2D';
    font-size: 18px;
    color: white;
}

#key-words {
    resize: none;
    width: 500px;
    height: 44px;
    border-radius: 25px;
    font-family: 'K2D';
    font-size: 18px;
    font-weight: 500;
    padding-left: 1%;
    border: none;
    background-color: white;
}

#filter,
#search {
    font-family: 'Atma';
    -webkit-text-fill-color: black;
    -webkit-text-stroke-width: 1px;
    font-size: 22px;
    border-color: transparent;
    background-color: transparent;
    font-weight: 600;
}

#filter {
    -webkit-text-stroke-color: #73D8CC;
}

#search {
    -webkit-text-stroke-color: #78C742;
}

.filter-option {
    color: white;
    font-family: 'K2D';
}

#filter-box {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    padding: 10px;
}

.cards {
    color: #73D8CC;
}

li {
    color: white;
    font-family: "K2D";
}

p {
    color: rgb(255, 255, 255);
    font-family: "K2D";
    font-weight: 600;
}

p#names {
    font-family: 'Atma' ;
    text-transform: uppercase;
    font-family: 'Atma';
    -webkit-text-fill-color: black;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 1px;
    font-size: 22px;
    border-color: transparent;
    background-color: transparent;
    font-weight: 600;
}

footer {
    color: white;
    font-family: 'K2D';
    text-align: center;
}