@charset "UTF-8";

.base-template {
      display: none;
}

* {
      font-family: Arial, Helvetica, sans-serif;
      color: rgb(100, 92, 92);
      margin: 0px;
      padding: 0px;

}

body,html {
      background-color: rgb(250, 192, 202);
}

header, footer {
      background-color: rgb(218, 118, 134);
}

header > h1, h2 {
      padding: 10px;
      text-align: center;
}


i#menu{
      background-color: blue;
      color: white;
      display: block;
      text-align: center;
      padding: 10px;
      cursor: pointer;
}

i#menu:hover {
      background-color: white;
      color: pink;
}
menu {
      display: none;
}

menu > ul {
      list-style-type: none;
}

menu > ul > li > a {
      display: block;
      padding: 10px;
      text-decoration: none;
      text-align: center;
      background-color: blueviolet;
      color: white;
      border-top: 2px solid gray;
}

menu > ul > li > a:hover {
      background-color: aqua;
}

main {
      display: block;
      width: 90vw;
      background-color: greenyellow;
      margin: auto;
      margin-top: 10px;
      padding: 10px;
      border-radius: 10px;
}

section {
      display: flex
}

article > h2 {
      padding-bottom: 20px;
}

article > p {
      text-align: justify;
      margin-bottom: 10px;
      text-indent: 20px;
}

footer {
      text-align: center;
      padding: 10px;

}


.impressao-todos-cards {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      align-content: center;
      row-gap: 10px;
      column-gap: 30px;
      text-align: center;
}

.impressao-todos-cards > section{
      width: 40%;
      display: block;
      border: 1px solid black;
      border-radius: 50px;
}

