@font-face {
  font-family: Avocado;
  src: url("./fonts/Hello\ Avocado.ttf");
}

body {
  padding: 0%;   
  margin: 0%;
  font-family: Avocado;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(217, 205, 169);
}

img{
  max-width:100%;
}

.nav ul {
  list-style-type: none;
  background-color: rgb(124, 140, 90);
  color: rgb(217, 205, 169);
  margin-left: none;
  margin-right: none;
  border-radius: 10px;
  padding-top: 1px;
  margin-top: 0vw;
  margin-bottom: 0vw;
}

.nav ul li {
  display: inline-block;
  margin-right: 2vw;
  cursor: pointer;
}

.menu {
  padding: 5px;
  font-size: 22px;
  display: inline-block;
  cursor: pointer;
}

.menu:hover {
  color: rgb(168, 213, 232);
}


.logo {
  height: 13vh;
  object-fit: scale-down;

  margin-right: 5vw;
  margin-bottom: 0vw;
}

select {
  border-radius: 5px;
  font-family: Avocado;
  font-size: 13px;
  width: 100px;
  height: 30px;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
}


.imagemprincipal {
  

  height: 55vh;
  object-fit: scale-down;
}

.divHeader {
  display: flex;
  background-color: rgb(217, 205, 169);
  margin-bottom: 0vw;
  justify-content: center;
}

.cards {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  cursor: pointer;
  margin-top: 2vh;
  flex-wrap: wrap;
  justify-content: space-around;
}

.filtros{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
} 

.filtros1, .filtros2, .filtros3, .filtros4 {
  font-size: 20px;
}


.calculo {
  background-color: rgb(124, 140, 90);
  color: rgb(217, 205, 169);
  border-radius: 1vw;
  padding: 10px;
  text-align: center;
  margin-top: 0vw;
  font-size: 20px;
  cursor: pointer;
}

.calculo:hover {
  color: rgb(168, 213, 232);
}

.cardsBox {
  background-color: rgb(124, 140, 90);
  border-radius: 3vw;
  box-shadow: 0 1vw 1vw rgb(106, 105, 105);
  border-top: 0.1vw solid rgb(124, 140, 90);
  border-bottom: 0.1vw solid rgb(124, 140, 90);
  margin: 1vw;
  padding: auto;
  left: 15vw;
  right: 10vw;
  text-align: center;
  overflow: hidden;
  width: 230px;
  height: 330px;
}

.cardsBox:hover {
  font-size: 18px;
  background-color: rgb(106, 105, 105);
  color: aliceblue;
}

.textoCard {
  list-style-type: none;
  text-align: justify;
}

.imagemCard {
  border-radius: 3vw;
  height: 200px;
  width: 200px;
}

.footer {
  margin-top: 10px;
  background-color: rgb(124, 140, 90);
  height: 40px;
  border-radius: 10px;
  text-align: center;
  padding-top: 1px;
}

a {
  text-decoration: none;
}

a:hover {
  color: rgb(217, 205, 169);
}

/*Responsividade tablet:*/
@media (max-width: 768px){
  body{                        
    padding: 0%;
    margin: 0%;
  } 

  .filtros1{margin-left: 1vw}
  .filtros2{margin-left: 1vw}
  .filtros3{margin-left: 1vw}
  .filtros4{margin-left: 1vw}
  .filtros1,.filtros2,.filtros3,.filtros4{display: inline}
  .calculo{width: 100%}
}


/*Responsividade celular:*/
@media (max-width:320px){

  body{                     
    padding: 0%;
    margin: 0%;
  }

  .logo{
    display:none;
  }

  .nav ul li{
    width: 100%;
    margin-right: 1px;
    display: inline;
  }

   .menu,.calculo,.filtros1,.filtros2,.filtros3,.filtros4{
    font-size:20px;
   }

   .cardsBox{
    width: 330px;
    height: 430px;
    justify-content: space-between; 
   }
  
   .imagemCard{
    height: 250px;
    width: 250px;
   }

   .textoCard{
    font-size: 25px;
   }

   .nameCard{
    font-size: 25px;
   }

  .filtros1,.filtros2,.filtros3,.filtros4{display: block}

  .cards{
    align-items: center; 
    flex-direction: column;
    
  }
  
 
}