/*seção logo e fundo*/

body{
    background-color: rgba(216, 240, 239, 1);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    display: flex;
    justify-content: center;
}

main{
    border-left: 50px solid rgba(216, 240, 239, 1);
    border-right: 50px solid rgba(216, 240, 239, 1)
}

*{
    margin: 0;
}
/*mãe*/
#section-logo {
    background-image: url(img/fundo\ logo\ pokemon\ 1680-PhotoRoom.jpg);
}
/* filha*/
#logo-pokemon {
    height: 200px;
}
/* filha*/
#logo-lovers{
    height: 50px;
    margin-left: 30%;
    margin-bottom: 2%;
    margin-top: -2%;
}
/*-------------botões*/
/*mãe da nav*/
.section-buttons {
    background-color:#76CCE1;
    border: 2px dotted #FDDDE2 ;
}
/*filha tods selects*/
.btn-select{
   margin-top: 1%; 
   display: none;
}

/*filha do bnt select e neta da nav*/

.selects{
    font-size: large;
    margin-left: 3%;
}

/*filha só botões*/
.button{
    cursor: pointer;
    font-size: 20px;
    background-color: white;
    border-radius: 10%;
    word-spacing:10px ;
    margin-right: 2%;
}
/*filha input*/
#input-search{
    width: 200px;
    display: none;
    font-size: 20px;
}
/*--------Introdução - main*/
/*mãe*/

.inf-world-pokemon{
    display: inline-flex;
}
/*filha*/

/*filha*/
#inf-pokemon{
/* já foi herdada do body "font-family: Arial, Helvetica, sans-serif;*/
    font-size: 20px;
    text-align: justify;
    background-color: #76CCE1;
    border:#76CCE1 solid 20px;
    margin: 5% 1% 5% 1%;
    border-radius: 10px;
}
/*Estilização dos cards - output*/
.one-container{

    display: inline-flex;
    position:static;
    width: 25%;
    background: yellow;
    border-radius: 31px;
    padding: 10px;
    margin: 2%;
    box-shadow: inset 0 0 2em rgb(159, 74, 149);
}
.second-container{
    position: sticky;
    padding-top: 5%;
    margin: 2%;
    height: 95%;
    background-color: rgba(190, 217, 88, 1);
    border-radius: 31px;
}
.text-about, .text-egg{
    text-align: center;
    font-size: small;
    text-align: justify;
    padding: 2%;
    margin: 0%;
}
.third-container{
    position: relative;
    padding: 1%;
    background-color: rgba(254, 200, 2, 1);
    border-radius: 8px;
    width: 90%;
    margin-top: -1%;
    margin-left: 4%;
}

.text-name-number{
    text-align: center;
    margin: 3%;
    word-spacing: 10px;
    font-size: small;
}
.image-pokemon{
   
    width: 80%;
    margin-left: 5%;
    background-image: linear-gradient(to right,darkgreen, rgba(108, 141, 94, 1),rgb(119, 218, 119) );
}
.text-pokemon-stats{
    text-align: justify;
    margin: 3%;
    word-spacing: 1px;
    font-size:12px;
}
.text-resistant {
    display: block;
    align-self: start;
    font-size: small;
    float: left;

}
.attack-defense-stamina{
    display: block;
    align-self: start;
    font-size: small;
}

hr{
    margin: 0%;
}

footer{
    margin-bottom: 1%;
}

/* botão de busca*/

@media screen and (max-width:1024px) {
    body{
        background-color:red;
        display: flex;
        justify-content: center;
        flex-flow: row;
    }
    #img-pokemon{
        padding: 7%;
    }
    #inf-pokemon{
        background-color: white;
        padding: 5%;
        border-radius: 10%;
    }
    .inf-world-pokemon{
        display: block;
    }
    #input-search{
        width: 250px ;
    }

    .one-container{
        display: block;
        margin: auto;
        width: 50%;
        height: 100%;
        margin-bottom: 5%;
    }
    #statsType{
        font-size: 30px;
    }
    
    .section-buttons{
        display: flex;
        justify-content: space-between;
    }

    #cards{
        background-color: white;
    }
    
} 

/*telas acima de 1700px*/

@media screen and (min-width: 1700px) {
    body{
        margin: 0%;
    }

    #section-logo{
        height: 350px; 
    }

    #logo-pokemon {
        margin-top: 1%;
        height: 250px;
        margin-bottom: 0%;
    }

    #logo-lovers{
        height: 70px;
        margin-right: 3%;
    }

    .section-buttons{
        border:4px dotted #FDDDE2;
    }
    
    .button{
        font-size:xx-large;
    }

    .selects{
        height: 40px;
        width: 200px;
        font-size: large;
        margin-left: 3%;
    }

    #input-search{
        width: 300px;
        height: 40px;
        font-size: x-large;
    }

    #img-pokemon{
        width: 600%;
    }

    #inf-pokemon{
        font-size: 225%; 
    }


    #statsType{
        font-size: 250%;
        margin: 3%;
        text-align: center;
        color: rgb(41, 0, 128);
    }

}