@font-face {
  font-family: Avocado;
  src: url("./fonts/Hello\ Avocado.ttf");
}

body {
  padding: 0%;
  margin: 0%;
  font-family: Avocado;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(217, 205, 169);
}

img {
  max-width: 100%;
}

.nav ul {
  list-style-type: none;
  background-color: rgb(124, 140, 90);
  color: rgb(217, 205, 169);
  margin-left: none;
  margin-right: none;
  border-radius: 10px;
  padding-top: 1px;
  margin-top: 0vw;
  margin-bottom: 0vw;
}

.nav ul li {
  display: inline-block;
  margin-right: 2vw;
  cursor: pointer;
}

.menu {
  padding: 5px;
  font-size: 22px;
  display: inline-block;
  cursor: pointer;
}

.menu:hover {
  color: rgb(168, 213, 232);
}

select {
  border-radius: 5px;
  font-family: Avocado;
  font-size: 13px;
  width: 100px;
  height: 30px;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
}

.imagemprincipal {
  height: 55vh;
  object-fit: scale-down;
}

.divHeader {
  display: flex;
  background-color: rgb(217, 205, 169);
  margin-bottom: 0vw;
  justify-content: center;
}

.cards {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  cursor: pointer;
  margin-top: 2vh;
  flex-wrap: wrap;
  justify-content: space-around;
}

.filtros {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.filtros1,
.filtros2,
.filtros3,
.filtros4 {
  font-size: 20px;
  max-width: 100%;
}

.calculo {
  background-color: rgb(124, 140, 90);
  color: rgb(168, 213, 232);
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  margin-top: 0vw;
  font-size: 20px;
}

.calculo:hover {
  color: rgb(217, 205, 169);
}

.cardsBox {
  background-color: rgb(124, 140, 90);
  border-radius: 3vw;
  box-shadow: 0 1vw 1vw rgb(106 105 105);
  border-top: 0.1vw solid rgb(124, 140, 90);
  border-bottom: 0.1vw solid rgb(124, 140, 90);
  text-align: center;
  margin: 15px;
}

.cardsBox:hover {
  font-size: 18px;
  background-color: rgb(106, 105, 105);
  color: aliceblue;
}

.textoCard {
  list-style-type: none;
  text-align: justify;
}

.imagemCard {
  border-radius: 3vw;
  height: 200pxh;
  width: 200px;
}

.footer {
  margin-top: 10px;
  background-color: rgb(124, 140, 90);
  height: 40px;
  border-radius: 10px;
  text-align: center;
  padding-top: 1px;
}

a {
  text-decoration: none;
  color: rgb(217, 205, 169);;
}

a:hover {
  color: rgb(168, 213, 232);
}

/*Responsividade tablet:*/
@media (max-width: 768px) {
  body {
    padding: 0%;
    margin: 0%;
  }

  .nav ul{
    border-radius: 0%;
  }

  .filtros1,
  .filtros2,
  .filtros3,
  .filtros4 {
    display: inline;
    margin-left: 1vw;
  }

  .imagemprincipal {
    display: flex;
    justify-content: center;
  }

  .calculo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 0%;
  }

.footer{
  border-radius: 0%;
}

}

/*Responsividade celular:*/
@media (max-width: 320px) {
  body {
    padding: 0%;
    margin: 0%;
  }

  .nav ul{
    border-radius: 0%;
  }

  .nav ul li {
    width: 100%;
    margin-right: 1px;
    display: inline;
  }

  .calculo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    border-radius: 0%;
  } 

  .filtros {
    display: flex;
    flex-direction: column;
  }
  .menu,
  .filtros1,
  .filtros2,
  .filtros3,
  .filtros4 {
    font-size: 20px;
  }

  .cardsBox {
    width: 250px;
    height: 400px;
    justify-content: space-between;
  }

  .imagemprincipal {
    display: flex;
    justify-content: center;
    height: auto;
  }

  .imagemCard {
    height: 200px;
    width: 200px;
  }

  .textoCard {
    font-size: 25px;
  }

  .nameCard {
    font-size: 25px;
  }

  .filtros1,
  .filtros2,
  .filtros3,
  .filtros4 {
    display: block;
  }

  .cards {
    align-items: center;
    flex-direction: column;
  }

  .footer{
    width: 100%;
    height: 100%;
    border-radius: 0%;
  }

}


