body{
    margin:auto;
}
.flex-container{
    display: flex;
    align-items: center;
    background-color: #500909;
    height: 180px;
    width: 100%;
    max-width: 1350px;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    box-sizing: border-box;
    color: #F1B415;
}
.titulologo img{
    display: flex;
    margin: 50%;
    margin: 40px;
    width: 80%;
    min-width: 150px;
    min-height: 100px;
    align-items: center;
    justify-content: center;
    align-items: center;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    box-sizing: border-box;
    padding: 10%;
 }
.navbar{
    display: flex;
    flex-direction: row;
    color: #F1B415;
    margin-top: 100px;
    margin-left: 600px;
    width: 100px;
    padding: 10px;
}
.btnmenu{
    padding: 50%;
    width: 20%;
    padding-right: 5px;
    margin: auto;
}
.navbar img:hover{
    transform: scale(0.9);
    border: 2px;
}
.buttonselect{
    background-color: #F1B415;
    width: 100%;
    max-width: 1350px;
    height: 100%;
    min-height: 60px;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    box-sizing: border-box;
    margin: 0;
    justify-content: space-around;
    text-align: center;
    padding: 0px;
    position: relative;
    padding-top: 1%;
}
.select{
    text-align: center;
    align-items: center;
    background-color: #F1B415;
    min-width: 266px;
    height: 40px;
    border-radius: 10px;
    border: 2px solid #520909 ;
    font-weight: 700;
    font-size: small;
}
.campodebusca{
    background-color: #f5d27c;
    color: black;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    height: 40px;
    width: 20%;
    min-width: 266px;
    border-radius: 5px;
    border: 2px solid #520909 ;
    text-align: center;
    font-size: 14px small;
}
.calc{
    display: block;
    background-color: #F1B415;
    text-align: center;
    color: black;
    height: 30px;
    padding: 30px;
    width: 100%;
    max-width: 1350px;
    font-size: 14px small;
    font-weight: bold;
    padding bottom: 3%;
    font-size: 20px;
}
.ul{
    background-color: #F1B415;
    width: 100%;
    max-width: 1310px;
    max-height: 100%;
    align-items: center;
    padding: 5px 20px 70px 50px;
    margin: 0;
}
.card{
    margin: 15px;
    width: 300px;
    height: 20w;
    display: inline-block;
    flex-direction: column;
    padding: 3px 5px 7px 5px;
    text-align: left;
    align-items: center;
    padding-left: 3%;
    padding-bottom: 1%;
    margin: 1%;
    background-color: #f5d27c;
    color: black;
    border-radius: 40px;
    box-shadow: 3px 3px 10px;
}
.card:hover{
    transform: scale(0.9);
    border: 3px;
    border-color:#500909;
}
.mainback{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    max-width: 1350px;
    height: 600px;
    background-image: url(imagens/backcastelo1350.png);
}
.imgback{
    text-align: 100%;
}
.fundolista{
    text-align: left;
}
.btnexplore{
    background-color: #F1B415;
    border-color:yellow;
    color: black;
    min-width: 160px;
    min-height: 50px;
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    font-weight: 700;
    font-size: small;
    border-radius: 10px;
    margin: 40px;
    margin-top: 500px;
}
button:hover {
    transform: scale(0.9);
}
.rodape{
    padding-top: 20px;
    display: flex;
    background-color: #2E2828;
    color: grey;
    align-items: left;
    height: 180px;
    width: 100%;
    max-width: 1350px;
    flex-direction: column;
    justify-items: left;
}
.RedesSociais img{
    width: 30px;
    margin: 1%;
    margin left: 10%;
    margin bottom: 10%;
    border-radius: 35%;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.400);
    box-sizing: border-box;
}
.RedesSociais{
    text-align: right;
    margin-bottom: 10px;
    padding right: 20%;
    padding left: 70%;
}
.RedesSociais img:hover{
    transform: scale(0.9);
    border: 2px;
}
.developed{
    height: auto;
    width: auto;
    margin: auto;
    color: grey;
    align-items: center;
}
