@font-face {
  font-family: Avocado;
  src: url("./fonts/Hello\ Avocado.ttf");
}

body {
  font-family: Avocado;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(217, 205, 169);
}

.navegacao ul {
  list-style-type: none;
  background-color: rgb(124, 140, 90);
  color: rgb(217, 205, 169);
  margin-left: none;
  margin-right: none;
  border-radius: 10px;
  padding: none;
  margin-top: 0.1vw;
}

.navegacao ul li {
  display: inline-block;
  margin-right: 2vw;
  cursor: pointer;
}

.linha {
  padding: 5px;
  font-size: 22px;
  display: inline-block;
  cursor: pointer;
}

.linha:hover {
  color: rgb(168, 213, 232);
}

select {
  border-radius: 5px;
  font-family: Avocado;
  font-size: 16px;
  width: 100px;
  height: 30px;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
}

.divHeader {
  background-color: rgb(217, 205, 169);
  margin-bottom: 2vw;
}

.filtros {
  display: inline-block;
  padding: 10px;
  font-size: 22px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.cards {
  align-content: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  list-style-type: none;
  cursor: pointer;
  margin-top: 50px;
}

.filtros1 {
  font-size: 20px;
  margin-left: 10vw;
}

.filtros2 {
  font-size: 20px;
  margin-left: 5vw;
}

.filtros3 {
  font-size: 20px;
  margin-left: 5vw;
}

.filtros4 {
  font-size: 20px;
  margin-left: 5vw;
}

.filtro4 {
  margin-right: 10vw;
}

.calculo {
  background-color: rgb(124, 140, 90);
  color: rgb(217, 205, 169);
  border-radius: 1vw;
  width: 200px;
  padding: 10px;
  text-align: center;
  margin-left: 40vw;
  margin-top: 50px;
  font-size: 20px;
  cursor: pointer;
}

.calculo:hover {
  color: rgb(168, 213, 232);
}

.cardsBox {
  background-color: rgb(124, 140, 90);
  border-radius: 3vw;
  box-shadow: 0 1vw 1vw rgb(106, 105, 105);
  border-top: 0.1vw solid rgb(124, 140, 90);
  border-bottom: 0.1vw solid rgb(124, 140, 90);
  margin: 1vw;
  padding: auto;
  left: 15vw;
  right: 10vw;
  text-align: center;
  overflow: hidden;
}

.textoCard {
  list-style-type: none;
  text-align: justify;
}

.imagemCard {
  border-radius: 3vw;
}
