* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}
.body-inicial { 
    background-color: #1D1C38;
    background-image: url(img/desktop/Cabeçalho2.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size:100vw;
    max-height: fit-content;
}
.top {
    color: #f1faee;
    text-align: center;
    margin: 3vw 10vw -1.5vw;
    font-size: 2.5rem;
}
.container {
    margin: 1vw 13vw;
}
.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#f1faee;
    text-align: right;
}
.description-img {
    margin: 0 0 0 -5vw;
    width: 40vw;
}
.description-text {
    margin: -1vw 1vw 0 0;
    width: 49%;
    font-size: 2.1rem;
}
.counter {
    color: #e26c7a;
    text-shadow: black 1.5px 1.5px 2px;
    font-size: 2.4rem;
}
.div-btn-inicial {
    width: 57%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: -4vw 0 0 32vw;
    column-gap: 1vw;
}
.btn-inicial{
    margin: auto;
    border:none;
    min-height: 100%;
    width: 100%;
    padding: 0.5vw 2vw;
    background-color: #e26c7a;
    color: #f1faee;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 0.5vw; 
    text-decoration: none;
}
.btn-inicial:hover {
    background-color: #f1faee;
    color: #e26c7a;
}
@media only screen and (max-width: 600px){
    body { 
        background-image: url(img/mobile/Cabeçalho3.svg);
    }
    .top {
        margin: 2% 10% 0;
        font-size: 3vw;
    }
    .description {
        margin-top: -5vw;
    }
    .description-text {
        margin: -1vw 1vw 0 2vw;
        font-size: 0.5rem;
    }
    .counter {
        color: #e26c7a;
        text-shadow: black 1.5px 1.5px 2px;
        font-size: 0.6rem;
    }
    .btn-inicial{
        min-height: 100%;
        width: 100%;
        padding: 0.5vw 2vw;
        font-size: 0.3rem;
        font-weight: 600;
    }
    .btn-inicial:hover {
        background-color: #f1faee;
        color: #e26c7a;
    }
}