body {
    background-color: #bbdfd0;
}

img {
    width: 100%;
}

.rickandmortyText {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    margin-right: 2%;    
    color: darkviolet;
}

.HOME {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #bbdfd0;
    justify-content: space-between;
    
    font-size: 25px;
    border-top-style: hidden;
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom-style: double, black;
    margin-bottom: 1%;

}